.positionController {
    background-color: #6b76d7;
    opacity: 0.3;
    height: 5vh;
    width: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    
}

.controller_top {
    justify-self: center;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.controller_bottom {
    justify-self: center;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom:0;
    margin: 0 auto;
}

.controller_left {
    justify-self: center;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left:-5vh;
    margin: auto 0;
}

.controller_right {
    justify-self: center;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    right:-5vh;
    margin: auto 0;
}

.material-symbols-outlined {
    align-self: center;
    justify-self: center;
    line-height: 100%;
    margin: 0 auto;

    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24}